In [ ]:
An EDA of cluster formed by the machine learning algorithm

# 0. IMPORTS

In [1]:
import pandas as pd
import streamlit as st

## 0.1 HELPER FUNCTIONS

# 1 LOADING DATA

In [2]:
df_ml = pd.read_csv("../data/processed/ml_cluster.csv")

In [3]:
df_ml.head()

,customer_id,gross_revenue,recency_days,qty_invoices,qty_prod_purchased,range_of_products,avg_ticket,frequency,qty_returns,avg_qty_products_purchased,week_day,month,cluster
0,17850,4046.51,372,34,1191,204,19.835833,17.000000,37.0,35.029412,2.0,11.0,4
1,13047,2392.96,31,10,1159,130,18.407385,0.029155,36.0,115.900000,1.0,11.0,5
2,12583,6507.44,2,15,4854,225,28.921956,0.040323,51.0,323.600000,1.0,11.0,8
3,13748,948.25,95,5,439,28,33.866071,0.017921,0.0,87.800000,2.0,4.0,9
4,15291,4396.00,25,15,1949,96,45.791667,0.042980,29.0,129.933333,6.0,3.0,18

# 2. BUILDING THE APP